.menu-container {
  margin: 60px auto;
  float: none;
}
.menu-container-box {
  overflow: hidden
}

#devices {
	display: none;
}

#visual-return {
	padding-top: 30px;
	text-align: center;
}


/* Footer Navigator */
.navigator {
  display: block;
  height: 35px;
}
.navigator > a:first-child {
  float: left;
}
.navigator > a:last-child {
  float: right;
}

#backButton {
  display: none;
}


#error-alert {
	position: fixed;
	bottom: -80px;
	width: 94%;
	left: 3%;
	transition: all 500ms;
}

#error-alert.active {
	bottom: 20px;
}