div {
  width: 400px;
  height: 400px;
  background: red;
  margin: 100px;
  text-align: center;
  transition: all 1s;
}
p {
  font-size:200px;
  font-family: 'Comic Sans', sans-serif;
  line-height: 400px;
  color:white;
}

div.gigante {
  width:800px;
  height: 800px;
  transition: all 1s;
}
div.borda {
  border-radius: 50px;
}
