html
	head
		title
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="public/front.js")
	body
		h1 Cores
		div(id="bloco" style="width:300px; height:300px; margin:200px; background:red;")
